.onboarding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #d4b8ff, #f3e8ff, #925fe2);
  padding-left: 10%;
  padding-right: 10%;
}

.progress-container {
  width: 100%;
}

.progress-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 15px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #925fe2;
}

.icon-container-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #f3e8ff;
}

.icon-container .icon-circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #fff;
}

.icon-container .icon-checkmark {
  width: 20px;
  height: 20px;
  color: #fff;
}

.progress-indicator .x-line {
  flex: 1;
  height: 2px;
  background-color: #fff;
}

.alert-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: red;
}

.progress-titles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.progress-container .title {
  position: absolute;
  width: 300px;
  text-align: center;
  line-height: 24px;
}

.progress-container .title p {
  font-size: 14px;
}

.signup-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
  justify-content: center;
  padding-left: 30%;
  padding-right: 30%;
}

.signup-form .input-form-container input,
.signup-form .input-form-container select {
  background-color: transparent;
  padding: 10px 5px 10px 5px;
  border: none;
  border-bottom: 1px solid #925fe2;
  width: 100%;
  padding-left: 30px;
  color: black;
  font-size: 16px;
  flex: 1;
}

.signup-form .input-form-container input:focus,
.signup-form .input-form-container select:focus {
  outline: none;
}

.signup-form .input-form-container {
  display: flex;
  align-items: center;
}

.signup-form .form-icons {
  position: absolute;
}

.signup-form .form-icons .icons {
  width: 20px;
  height: 20px;
  color: gray;
}

.signup-form .form-flex {
  display: flex;
  justify-content: space-between;
}

.onboarding-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.onboarding-title h3 {
  font-size: 30px;
  text-align: center;
}

.onboarding-title p {
  font-size: 15px;
  text-align: center;
  line-height: 22px;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.file-input {
  padding: 10px;
  border: none;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container input {
  text-align: center;
  width: 200px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  background-color: #925fe2;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 250px;
  font-size: 16px;
}

.btn-container button:hover {
  background-color: #f3e8ff;
  color: #925fe2;
}

.omooo {
  width: 100%;
  height: 70%;
}

.plan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.plan-container .plan-subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.plan-container .plan-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;
  border-radius: 20px;
}

.plan-container .plan-card .amount-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.plan-container .plan-card .amount-flex h1 {
  font-size: 35px;
}

.plan-container .plan-card .circle-check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-container .plan-card .checkmark {
  font-size: 13px;
}

.plan-container .plan-card .plan-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-container .plan-card .plan-item {
  width: 100%;
  display: flex;
  gap: 10px;
}

.preferences-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.preferences-container .preferences {
  width: 70%;
  display: flex;
  height: 53vh;
}

.preferences-container .preferences .aside {
  width: 30%;
  background-color: #711a75;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.preferences-container .preferences .aside h3 {
  font-size: 16px;
  font-weight: 500;
}

.preferences-container .preferences .main {
  width: 70%;
  background-color: #ffadbc;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preference-item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.preferences-container .main .main-preference-headidng {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #925fe2;
  padding-bottom: 10px;
  height: 10%;
}

.preferences-container .aside .preference-item p {
  font-size: 13px;
  font-weight: 300;
}

.no-record-yet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
}

.no-record-icon {
  font-size: 150px;
}

.preferences-container .list-parent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preferences-container .preferences-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  height: 15%;
}

.preferences-container .preferences-footer p {
  width: 75%;
  font-size: 14px;
}

.preferences-container .preferences-footer .btn-container {
  width: 20%;
}

.preferences-container .list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 65%;
  max-height: max-content;
  overflow-y: auto;
}

.preferences-container .list-container::-webkit-scrollbar {
  width: 8px;
}

.preferences-container .list-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.preferences-container .list-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.preferences-container .list-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.image-selector {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.image-option {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.image-option input {
  display: none;
}

.image-option img {
  width: 150px;
  height: 170px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.image-option img.selected {
  border: 2px solid blue;
  border-radius: 5px;
}

.selected-message {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.selected-message img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 5px;
}
