/* SubjectDropdown.css */
.dropdown-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dropdown-flex {
  width: 100%;
}

.dropdown-btn {
  display: flex;
  justify-content: column;
  align-items: center;
  border-bottom: 1px solid #711a75;
}

.dropdown-btn .dropdown-icon {
  font-size: 25px;
}

.dropdown-btn button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.dropdown-btn:hover {
  color: #711a75;
}

.dropdown-menu {
  display: block;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  animation: dropdownAnimation 0.3s ease-in-out;
}

/* Animation for the dropdown */
@keyframes dropdownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Checkbox styling */
.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-label input {
  margin-right: 8px;
}

.checkbox-label input:checked {
  background-color: #4caf50;
}

@media screen and (max-width: 650px) {
  .dropdown-container {
    font-size: 13px;
    width: 100%;
  }

  .dropdown-menu {
    max-height: 120px;
  }
}
