/* SubjectDropdown.css */
.dropdown-container {
  width: 90%;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #711a75;
}

.dropdown-btn .dropdown-icon {
  font-size: 25px;
}

.dropdown-btn button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.dropdown-btn:hover {
  color: #711a75;
}

.dropdown-menu {
  display: block;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  animation: dropdownAnimation 0.3s ease-in-out;
}

/* Animation for the dropdown */
@keyframes dropdownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Checkbox styling */
.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-label input {
  margin-right: 8px;
}

.checkbox-label input:checked {
  background-color: #4caf50;
}

/* Customize the scrollbar track (background of the scrollbar) */
.overflow::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Style the scrollbar track */
.overflow::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray background for the track */
  border-radius: 10px; /* Optional: adds rounded corners to the track */
}

/* Style the scrollbar thumb (the draggable part) */
.overflow::-webkit-scrollbar-thumb {
  background-color: #888; /* Dark gray thumb */
  border-radius: 10px; /* Optional: adds rounded corners to the thumb */
  border: 2px solid #f1f1f1; /* Optional: adds a border around the thumb */
}

/* Hover effect for the scrollbar thumb */
.overflow::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker gray when hovered */
}

@media screen and (max-width: 650px) {
  .dropdown-container {
    font-size: 13px;
    width: 100%;
  }

  .dropdown-menu {
    max-height: 120px;
  }
}
