.modal-content h2 {
  margin-bottom: 10px;
}

.modal-sub-container .input-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-icon {
  color: #711a75;
  cursor: pointer;
}

.modal-sub-container .input-flex .action-icon:hover {
  color: #711a75;
}

.add-class table th,
.add-class table td {
  font-size: 13px !important;
  padding: 8px 15px;
}

@media screen and (max-width: 650px) {
  .modal-content {
    width: 70%;
  }

  .add-class table th,
  .add-class table td {
    font-size: 11px !important;
    padding: 6px 10px;
  }
}
