.input-question-type-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-input-action {
  display: flex;
  gap: 5px;
}

.gap-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
