.custom-input-form-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.custom-input-form-container textarea {
  min-height: max-content;
  height: max-content;
}

.custom-input-form-container input,
.custom-input-form-container select,
.custom-input-form-container textarea {
  background-color: transparent;
  padding: 10px 5px 10px 5px;
  border: none;
  border-bottom: 1px solid #925fe2;
  width: 100%;
  color: black;
  flex: 1;
}

.custom-input-form-container input:focus,
.custom-input-form-container select:focus,
.custom-input-form-container textarea:focus {
  outline: none;
}

.custom-input-form-container .form-icons {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-input-form-container .form-icons .icons {
  font-size: 20px;
  color: #666;
}

@media screen and (max-width: 650px) {
  .custom-input-form-container input,
  .custom-input-form-container select,
  .custom-input-form-container textarea {
    font-size: 14px;
  }
}
