.sbp-container {
  display: flex;
  justify-content: center;
  padding: 35px;
  box-sizing: border-box;
}

.sbp {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .sbp {
    width: 90%;
  }
}
