body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
ul,
li {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 650px) {
  p,
  input,
  label,
  input,
  select,
  button,
  ul,
  li {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }
}
